
<img src="assets/images/promoLong.jpg" class="img-fluid" alt="Responsive image">

<p>
  The “Divertimento Duets” concept breaks away from the traditional violin/piano accompaniment format, instead presenting a
  fun and effective way of learning the violin that involves complete interaction between teacher and pupil.
</p>

<p>
  These duets are intended for the teacher and pupil to play together without relying on a piano accompaniment to complete
  the piece; in this way, the pupil can emulate the teacher’s style at every opportunity, while stimulating the desire to
  practise and persevere through a sense of achievement and enjoyment.
</p>

<p>
  Using this method the pupil will develop a more fluid performance style, excellent intonation and in general, a fully rounded
  technique.
</p>

<p>
  This is not only a more immersive approach to violin learning, it also helps to develop the pupil’s ability to play with
  and listen to others from the very start. It is also the perfect tool for a teacher who does not have access to a piano.
</p>
