<div class="container-fluid no-padding">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/square book2.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-12 col-md-6 text-center white-text background-black someHeight">
      <div class="centerer">
        <h2 class="py-3">Introducing</h2>
        <h1 class="font-weight-bold">Divertimento Duets</h1>
        <h2>Volume 1</h2>
        <h4 class="py-4">A New and Original Method for the Beginner Violinist</h4>
        <div>
          <a href="https://www.amazon.co.uk/dp/1916435602" target="_blank">
            <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>Get The Book</button>
          </a>
          <a href="https://www.dropbox.com/sh/n04xzkt8gmp6clp/AAAlsgmnJUjbvGtqEgjK8CYma?dl=1">
            <button type="button" class="btn btn-info waves-light" mdbWavesEffect>Free
              Download Material</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-12 someHeight">
      <div class="centerer minWidth">
        <h2 class="text-center pb-4">The Method</h2>
        <p>3 Decades of violin teaching have inspired Phil Holland to develop Divertimento Duets, a
          new and original approach to learning and teaching the violin.</p>
        <p>This method is great fun for the student and an excellent and useful resource for the teacher.
          It breaks away from the traditional format of violin with piano accompaniment in order to
          encourage a more immersive experience between teacher and student, allowing for an
          organic and natural development of the student’s style.</p>
      </div>
    </div>
  </div>


  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6 someHeight">
      <div class="centerer somePadding">
        <h3 class="pb-2">Original Duets for Beginner Violin</h3>
        <p>These are completely new and original duets for the beginner violinist, structured to allow the
          student to gradually master new aspects of violin technique and musicianship.</p>
      </div>

    </div>
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/square 13.jpg" class="img-fluid" alt="">
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/square 8.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-12 col-md-6 someHeight">
      <div class="centerer somePadding">
        <h3 class="pb-2">No need for piano accompaniment</h3>
        <p>Not every teacher has access to a piano during lessons and not every teacher is overly confident
          about their ability to accompany at the piano. If this sounds familiar, then you will find Divertimento
          Duets ideal for you and your pupils.</p>
        <p>The duet format also encourages complete interaction between teacher and pupil which helps
          develop:</p>
        <ul>
          <li>a more fluid performance style</li>
          <li>excellent intonation</li>
          <li>a fully rounded technique</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6 someHeight">
      <div class="centerer somePadding">
        <h3 class="pb-2">Perfect for one-on-one lessons, group teaching or just for fun</h3>
        <p>The two parts of each duet are of equal difficulty. As such it can be used as a violin teaching manual
          in:</p>
        <ul>
          <li>one-on-one lessons</li>
          <li>group teaching</li>
          <li>first steps towards ensemble playing</li>
        </ul>
        <p>By learning both parts of each duet, the student will gain a better understanding of how music fits
          together and feel a great sense of achievement and enjoyment.</p>
      </div>

    </div>
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/square 11.jpg" class="img-fluid" alt="">
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/square 9.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-12 col-md-6 someHeight">
      <div class="centerer somePadding">
        <h3 class="pb-2">Ideal first performance pieces</h3>
        <p>These duets are fun to play and enjoyable to listen to. This makes them ideal first performance
          pieces that would be well suited to both child and adult beginners.</p>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6 someHeight">
      <div class="centerer somePadding">
        <h3 class="pb-2">Beautiful and original full colour illustrations</h3>
        <p>Lorna Romanenghi’s beautiful and unique illustrations really help to bring these duets to life on the
          page. Divertimento Duets is a violin book a student will love playing but also cherish.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/square 12.jpg" class="img-fluid" alt="">
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/square 10.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-12 col-md-6 someHeight">
      <div class="centerer somePadding">
        <h3 class="pb-2">MP3 recordings and teacher’s notes available as free downloads</h3>
        <p>Extensive teacher’s notes and MP3 recordings of all pieces in the book are available as free
          downloads from this website. The teacher’s notes may also be useful to parents and more mature
          beginners in order to give them insight into the learning process.</p>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6 background-black white-text someHeight">
      <div class="centerer somePadding">
        <h3>&quot;Most original, extremely well thought out and beautifully presented.</h3>
        <p>Phil has used her long experience of the teaching of the
          violin to children to write this delightful book. The concept behind her
          creation explores the many aspects of music making, and the idea of 2
          equal parts will open the door to friendship and the wonderful world of
          music at its most valuable.  I&#39;m sure that many teachers will find
          inspiration and ideas from this project. The presentation of the book is
          very attractive and beautifully illustrated, and the accompanying
          material and notes most interesting and informative. Divertimento Duets
          is a most valuable and original addition to the beginner violin repertoire.&quot;</p>
        <h4 class="text-right">Diana Cummings</h4>
        <p class="text-right">(FRAM)</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/Diana Square.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/square 7.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-12 col-md-6 someHeight">
      <div class="centerer somePadding">
        <h3 class="pb-2">THE AUTHOR</h3>
        <p>Phil Holland (LRAM) graduated from the Royal Academy of Music, London in both violin performance
          and teaching. She has been teaching and writing for her students for the past 30 years. She founded
          and ran her own violin school, the Divertimento Academy which ran for over 20 years in the cities of
          Cremona and Crema in the North of Italy. She is now based in the West of Scotland.</p>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6 someHeight">
      <div class="centerer somePadding">
        <h3 class="pb-2">THE ILLUSTRATOR</h3>
        <p>Lorna Romanenghi is an emerging Artist and Designer based in Scotland.</p>
        <p>She spent her formative years in Italy but then relocated to Scotland where she was able to
          complete an HND in Art and Design at Ayrshire College and is currently completing her BD (hons)
          Degree at Duncan of Jordanstone College of Art and Design, Dundee.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="assets/images/SQUARE1.jpg" class="img-fluid" alt="">
    </div>
  </div>

</div>
